[user]
	name = Toshiyuki Hirooka
	email = toshi.hirooka@gmail.com
[github]
	user = toshi.hirooka@gmail.com
  password = !security 2>&1 >/dev/null find-generic-password -gs github.password | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[alias]
	co = checkout
	br = branch
	st = status
	stt = status -uno
	df = diff
	dfc = diff --cached
	fe = fetch
	up = "!sh -c 'git pull --rebase origin $1' __dummy__"
	rbc = rebase --continue
	rba = rebase --abort
	topic = "!sh -c 'git co -b $1/$2 origin/$1' __dummy__"
	current-branch = "!sh -c \"git branch | grep '*' | awk '{ print \\$2 }' \""
	push-for-review = "!sh -c 'git push origin HEAD:refs/for/`git current-branch`'"
	pfr = "!sh -c 'git push-for-review'"
	dfx = !git diff | gitx
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	pr = pull --rebase
	current-sha1 = log --pretty=format:%H -n1
  current-svn-rev = ! git svn find-rev `git current-sha1`
  counterpart-branch = ! ( git ls-remote | grep `git current-sha1` | grep heads | cut -d/ -f3 ) 2> /dev/null
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
    editor = vim
    pager = less -cm
    quotepath = false
[color]
	diff = auto
	branch = auto
	status = auto
[http]
	postBuffer = 524288000
[rebase]
	autosquash = true
[push]
	default = current
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
